<div id="challengers">
  
  <h3 style="color: white">
    Current Challemgers
  </h3>
  <ul style="color: white">
    <li>
      @user
    </li>
    <li>
      @B_SMILE
    </li>
    <li>
      @Zlelew
    </li>
    <li>
      @Dummy
    </li>
  </ul>
</div>