<section class="bottomChad">
        <div class="flyBoy">
          <h2>Fly Makes You Faster</h2>
          <p>
            New free template by <a href="#">buy69.com </a> for more templates
            visit the <a href="#">site</a>. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit
          </p>
          <button>SEE PRICING</button>
        </div>
        <% if(show) { %>
          <div id="loggedHome">
            <h1>
              <%= n %>
            </h1>
          </div>
        <% } else { %>
          <div class="ourForm">
          <h3 id="simp">SIMP<sup class="le">le </sup> User Form</h3>
          <h4 id="youShallNotPass">
            YOU SHALL NOT PASS <img src="./img/1.png" />
          </h4>
          <form class="theForm" method="post" action="/register" onsubmit="return submitForm()">
            <div class="form-items">
              <span id="nameErr" class="errMsgN">
                Your name does not fit the server
              </span>
              <input
                name="name"
                class="ourInput"
                id="simpName"
                type="text"
                placeholder="Full Name "
              />
            </div>

            <div class="form-items">
              <span class="errMsgN" id="ageErr">
                Naaaaah men that age is SUS
              </span>
              <input
                name="age"
                class="ourInput"
                id="simpAge"
                type="number"
                placeholder="Age "
              />
            </div>

            <div class="form-items">
              <span class="errMsgN" id="phoneErr"> wakanda phone is that </span>
              <input
                name="phone"
                class="ourInput"
                id="simpPhone"
                type="number"
                placeholder="Phone Number "
              />
            </div>

            <div class="form-items">
              <span class="errMsgN" id="unameErr">
                joe said you can not use that :)
              </span>
              <input
                name="username"
                class="ourInput"
                id="simpUname"
                type="text"
                placeholder="Username "
              />
            </div>

            <div class="form-items">
              <span id="passwdErr" class="errMsgN">
                the shitest passswd ive ever see
              </span>
              <input
                name="passwd"
                class="ourInput"
                id="simpPasswd"
                type="password"
                placeholder="Password "
              />
            </div>
            <div class="checkboks" id="">
              <input type="checkbox" class="check" id="chekboks" />
              <span id="showPasswd"> Show Password </span>
            </div>
            <div class="form-items" id="reg">
              <input type="submit" class="submitBtn" value="Register" />
              <div id="rules">
                <ul>
                  <center>
                    <li>Keep deez in mind</li>
                  </center>
                  <li>Age must be 18 + and - 100</li>
                  <li>Phone length should be 10 digits</li>
                  <li>Use letters, number and underscore for username</li>
                  <li>Password length should be minimum 8</li>
                </ul>
              </div>
            </div>
          </form>
        </div>
        <% } %>

      </section>
