  
<section class="bottomChad">
        <!-- <div class="flyBoy">
          <h2>Fly Makes You Faster</h2>
          <p>
            New free template by <a href="#">buy69.com </a> for more templates
            visit the <a href="#">site</a>. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit
          </p>
          <button>SEE PRICING</button>
        </div> -->
        <div class="ourForm" style="margin-top: 5%">
          <% if(msg == "") { %>
            <h3 id="simp"> Login ... </h3>
          <% } else { %>
            <h4 id="youShallNotPass" style="display: block; text-align: center">
              YOU SHALL NOT PASS <img src="./img/1.png" />
            </h4>
          <% } %>
          <p style="color:red; text-align: center; font-size: 12px">
            <%= msg %>
          </p>
          <form class="theForm" method="post" action="/login">
            <div class="form-items">
              <span class="errMsgN" id="unameErr">
                joe said you can not use that :)
              </span>
              <input
                name="uname"
                class="ourInput"
                id="simpUname"
                type="text"
                value="<%=un%>"
                placeholder="Username "
              />
            </div>

            <div class="form-items">
              <span id="passwdErr" class="errMsgN">
                the shitest passswd ive ever see
              </span>
              <input
                name="passwd"
                class="ourInput"
                id="simpPasswd"
                type="password"
                placeholder="Password "
              />
            </div>
            <div class="checkboks" id="">
              <input type="checkbox" class="check" id="chekboks" />
              <span id="showPasswd"> Show Password </span>
            </div>
            <div class="form-items" id="reg">
              <input type="submit" class="submitBtn" value="Login" />
          </form>
        </div>
      </section>