<div class="container">
  <div class="left">
    <h2>Rules For Submiting Your Project</h2>
    <ul>
      <li>Your link MUST include https://</li>
      <li>Dont put empty value <sub> (db will break down) </sub></li>
      <li> try to make challenge name shorter <sub> (for display purposes)</sub> </li>
      <li> Annnnd That's it tha is the rule </li>
      <li>This list is just to make the rules longer only no specific reasons</li>
    </ul>
  </div>
  <div class="submitFromCont">
    <form method="post" action="/submit">
      <input placeholder="Challenge Link ..." type="text" name="link" required class="input" required>
      <br/>
      <div class="bot">
        <input placeholder="Challenge Name ..." type="text" name="name" required class="input" id="name" required>
        <input type="submit" class="btn">
      </div>
    </form>
  </div>
</div>