<div class="container">
  <div class="left">
    <h2>Rules For Submiting Your Project</h2>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut veniam.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      <li>Dont do this</li>
      <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</li>
    </ul>
  </div>
  <div class="submitFromCont">
    <form method="post" action="/submit">
      <input placeholder="Challenge Link ..." type="text" name="link" required class="input" required>
      <br/>
      <div class="bot">
        <input placeholder="Challenge Name ..." type="text" name="name" required class="input" id="name" required>
        <input type="submit" class="btn">
      </div>
    </form>
  </div>
</div>