<form method="post" action="/demo/post-challenge"> 
  Challenge Name <input type="text" name="challengeName"> <br> <br>
  Challenge Status <input type="text" name="challengeStatus"> <br><br>
  Challenge Deadline <input type="text" name="challengeDeadline"> <br><br>
  <input type="submit" value="Add"> 
</form>