<div id="the-rules-container">
  <h3>Rules</h3>
  <ul id="rules">
    <li>Make sure your link works before you upload it. <em>it's for your own good</em> </li>
    <li>Each link must be submitted before the deadline </li>
    <li>Your link <b>MUST</b> have <i>https://</i> </li>
    <li> Choose which challenge link you want to upload before submiting</li>
  </ul>
</div>
<form method="post" action="/demo/update-challenge" id="the-form">
  <h3>Edit Your Link</h3>
  <div id="link">
    <div id="name-input-cont">
      <label for="">Web Name: </label>
      <input type="text" value="<%=targetCh._id %>" id="name-input" name="name">
    </div>
    <input type="text" value="<%=targetCh.challengeLink %>" id="link-input" name="link">
  </div>
  <div id="submit-bottom">
    <select id="select-ch" name="challenge" required>
        <option selected value="<%= targetCh.challengeName.name %>">
          <%=targetCh.challengeName.name %> 
        </option>
      </select>
    <button type="submit" id="submit-link-btn">Submit</button>
  </div>
</form>