<form id="login-form">
  <h3>Login</h3>
  <div id="form-inputs">
    <label>Username</label>
    <input type="text" id="username-input">
    <label>Password</label>
    <input type="text" id="password-input">
    <input type="submit" value="Login" id="login-btn">
  </div>
</form>