<div id="profile-left">
  <div id="profile-intro">
    <img src="./img-p/Artboard 7.png"/>
    <h1>User Fullname</h1>
  </div>
  <div id="profile-details">
    <p>Full Name: Random User</p>
    <p>Username: @randomUser</p>
    <p>Completed Challenges: 4</p>
    <p>User Badge: Biggner</p>
  </div>
</div>
<div id="profile-right">
  <h3>User Projects</h3>
  <div id="prof-proj-cont">
    
    <div class="profile-projects">
      <img src="x" />
      <p>Remove Hair</p>
      <button>Visit</button>
    </div>
    <div class="profile-projects">
      <img src="x" />
      <p>Greate Mountain</p>
      <button>Visit</button>
    </div>
    <div class="profile-projects">
      <img src="x" />
      <p>Sort</p>
      <button>Visit</button>
    </div>
    <div class="profile-projects">
      <img src="x" />
      <p>WIIIIIII</p>
      <button>Visit</button>
    </div>
    <div class="profile-projects">
      <img src="x" />
      <p>Random Project Name</p>
      <button>Visit</button>
    </div>
    <div class="profile-projects">
      <img src="x" />
      <p>Random Project Name</p>
      <button>Visit</button>
    </div>
    <div class="profile-projects">
      <img src="x" />
      <p>Validation</p>
      <button>Visit</button>
    </div>
  </div>
</div>