<div id="the-rules-container">
  <h3>Rules</h3>
  <ul id="rules">
    <li>Make sure your link works before you upload it. <em>it's for your own good</em> </li>
    <li>Each link must be submitted before the deadline </li>
    <li>Your link <b>MUST</b> have <i>https://</i> </li>
    <li> Choose which challenge link you want to upload before submiting</li>
  </ul>
</div>
<div id="the-form">
  <h3>Submit Your Link</h3>
  <div id="link">
    <input type="text" placeholder="Your Link..." id="link-input">
  </div>
  <div id="submit-bottom">
    <select id="select-ch">
      <option>Select Challenge</option>
      <option>Challenge 1</option>
      <option>Challenge 2</option>
      <option>Challenge 3</option>
    </select>
    <button id="submit-link-btn">Submit</button>
  </div>
</div>