<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <title>ShadoRealm</title>
  </head>
  <body>
    <h1>Shadow Realm</h1>
    <ul>
      <li>
        <a href="/demo/super-admin-baby">Home</a>
      </li>
      <li>
        <a href="/demo/sup/view-challenges">View Challenges</a>
      </li>
      <li>
        <a href="/demo/sup/post-challenge">Post Challenges</a>
      </li>
      <li>
        <a href="/demo">Back to the feature </a>
      </li>
    </ul>
    <hr>
    <div>
      <%- include(`./super/${page}`) %>
      <form method="post" action="/demo/logout">
        <input type="submit" value="Logot">
      </form>
    </div>
    
  </body>
</html>