<h2>Post New Challenge </h2>
<form method="post" action="/demo/post-challenge"> 
  Challenge Name <input type="text" name="challengeName"> <br> <br>
  Challenge Description <input type="text" name="desc"> <br><br>
  Challenge Status   <select name="status">
    <option value="" disabled selected hidden> Status Options </option>
    <option value="Open">Open</option>
    <option value="Closed">Closed</option>
    <option value="Pending">Pending</option>
  </select> <br> <br>
  Challenge Deadline <input type="text" name="challengeDeadline"> <br><br>
  <input type="submit" value="Add"> 
</form>