@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
#colorP{
 position: absolute;
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 5rem;
 font-size: 9px;
 top: 50%;
 left: .2rem;
 border: 1px solid black;
 padding: .2em .4em;
}
#colorP div{
  display: inline;
  margin-inline: 1em;
}
#colorP div input{
  /* width: 1em; */
  height: 1em;
}
*{
  font-family: "Quicksand", Sans-Serif;
}
body {
  display: grid;
  place-items: center;
  font-family: "Quicksand", sans-serif;
  background-color: #e5e5e5;
  margin: 0;
  height: 100vh;
  overflow: auto;
  padding-bottom: 1em;
  /* padding-block: 1em; */
}

/* header */
main {
  /* margin: 3rem auto; */
  background-color: #4d5dfb;
  background-image: linear-gradient(12deg, #4d5dfb 31%, #08c8f6 70%);
  background-size: 400% 200%;
  width: 85%;
  overflow-y: auto;
  bborder: 2px solid white;
  /* min-height: 80%; */
  max-height: 35rem;
  height: 35rem;
  /* min-height: 30rem; */
  border-radius: 10px;
  box-shadow: 5px 8px 30px rgba(0, 0, 0, .3);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-inline: 4em;
  align-items: center;
  height: 5rem;
}
.main-tittle h3 {
  font-size: 1.2em;
  color: #ffffff;
}

.navbar a {
  text-decoration: none;
  color: #368fef;
}
.navbar a:hover {

}
.theFont, .theFont a{
  /* color: black!important; */
}

.doctor-patients {
  margin-left: 18em;
}
.navigations{
  color: white;
}
.navigations a {
  color: inherit;
  margin-inline: 1em;
  font-size: .85rem;
}
/* main section */
.home-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  hheight: 25em;
  height: 75%;
  overflow: auto;
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 2px;
}
img {
  width: 3em;
  height: 3em;
  margin-bottom: 0;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #08c8f6;
}

/* challenges Page */
.challenges {
  /* border: 1px solid red; */
  bbackground-color: #5569ac;
  padding-bottom: 2em;
  opacity: ;
  overflow: auto;
  height: 90%;
  width: 100%;
}
.challenges #title {
  text-align: center;
  font-size: 1.4rem;
  /* border: 1px solid red; */
  color: white;
}
.allinone {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
  padding-top: 1em;
  /* border: white 1px solid; */
  /* margin: 2em 0.5em; */
}

.card {
  width: 40%;
  padding-inline: 1em;
  height: 5em;
  border: 1px solid gray;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.card:hover {
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, .25);
  cursor: pointer;
}

.img {
  /* border: 2px solid red; */
  height: fit-content;
}
.img p {
  margin: 0;
}

.card p {
  color: black;
}

.card sub {
  color: #643737;
}
.textBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: "Poppins" sans-serif;
}

.textContent {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 3px;
  align-items: center;
  color: #292929;
  margin-left: 0.51em;
}

.h1 {
  font-size: 16px;
  font-weight: bold;
}

.h1:second-child span {
  font-size: 10px;
}

.p {
  font-size: 12px;
  font-weight: lighter;
}
.btn {
  padding: 0.6em 0em;
  background-color: #08c8f6;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  transition: .5s;
}
.btn:hover {
  border: 1px solid #5569ac;
}
.btn a{
  text-decoration: none;
  color: white;
}
button:hover{
  cursor: pointer;
}

/* Home Page */
#home-left{
  width: 20rem;
  
}

#home-left h2{
  width: 80%;
  margin-bottom: 0;
}
#home-left p{
  font-size: .95rem;
}
#home-right{
  display: grid;
  place-items: center;
 width: 18rem;
 border: 1px solid white;
 bborder-radius: 18px 180px 91px 70px;
 border-radius: 10% 100% 10% 100% / 10% 100% 10% 100%  ;
 height: 70%;
 background-color: #fff;
 color: #08c8f6;
 box-shadow: 0px 20px 50px rgba(0, 0, 0, .25);
}

/* profile page */
#profile-left{
  /* overflow: auto; */
  width: 40%;
  /* height: 18rem; */
  /* height: 95%; */
  border-right: 1px solid white;
  padding-block: 1em;
}
#profile-intro{
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 1em .7em;
  /* border-bottom: 1px solid white; */
}
#profile-intro img{
  border: none;
  height: 3.5em;
  width: 3.5em;
}
#profile-details{
  padding-inline: 2em;
  /* border: 1px solid white; */
}
#profile-details p{
  border-bottom: 1px solid white;
  padding: .3em;
  width: 75%;
  font-size: .85rem;
}
#profile-right{
  padding: 1em .8em;
  height: 75%;
  width: 40%;
  /* overflow-y: auto; */
  /* height: 18rem; */
  /* border: 1px solid white; */
}
#profile-right h3{
  /* text-align: center; */
}
#prof-proj-cont{
  height: 80%;
  overflow-y: auto;
}
.profile-projects{
  width: 80%;
  margin-block: 1em;
  background-color: white;
  color: black;
  border-radius: 10px;
  border: 1px solid white;
  display: grid;
  grid-template-columns: 2fr 1fr .5fr;
  padding-inline: 2em;
  align-items: center;
}
.profile-projects {
}
.profile-projects img{
  height: 2rem;
  width: 2rem;
}
.profile-projects button{
  width: fit-content;
  justify-self: end;
}

/* -------------------------------------- */
/* Submit Page */
#the-rules-container{
  width: 40%;
}
#rules{
  
}
#rules li{
  padding-block: .5em;
}

#the-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 2em 1em;
    /* border: 2px solid white; */
    border-radius: 10px;
}
#the-form h3{
  margin: 0;
}
#link-input{
  /* background-color: inherit; */
  width: 40ch;
  /* color: white; */
  border: 2px solid white;
  border-radius: 5px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  padding: 1em .5em .2em .5em;
}
#name-input-cont{
  display: none;
  align-items: center;
  /* justify-content: space-between; */
  /* border: 2px solid red; */
  gap: .5em;
  margin-bottom: 1em;
}
#name-input-cont label{
  font-size: .8rem;
}
#name-input{
  border: 2px solid white;
  border-radius: 5px;
  /* padding: 1em .5em .2em .5em; */
  padding: .5em;
  /* width: 40%; */
  /* display: grid;
  place-content: center;
  margin-inline: auto; */
}
#submit-bottom{
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* display: grid; */
  gap: 1em;
  width: 100%;
}
#link-input::placeholder{
  color: black;
  /* color: #dedede; */
  /* font-family: Quicksand; */
  }
#select-ch{
  padding-block: .5em;
  border: 1px solid white;
  border-radius: 5px;
  /* background-color: inherit; */
  /* color: white; */
  font-family: Quicksand;
  width: 15ch;
}
#submit-link-btn{
  /* padding: .5em; */
  width: 12ch;
  border-radius: 5px;
  background-color: white;
  border-color: white;
  border: 1px solid gray;
}
#select-ch, #submit-link-btn{
  /* padding: .3em; */ 
}


/* Login page */
#login-form{
  background-color: white;
  color: black;
  font-size: .75rem;
  padding: 1em 2em;
  border-radius: 10px;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 20%; */
}
#login-form h3{
  text-align: center;
  margin-block: .5em;
}
#form-inputs{
  display: flex;
  flex-direction: column;
  gap: .4em;
  /* border: 1px solid red; */
  margin: auto;
}

#form-inputs input{
  padding: .3em .15em .1em .15em;
  
}

.inputinput{
  border: 1px solid lightgray;
  margin-top: -.2em;
  border-radius: 5px;
}
.login-btn{
  width: 40%;
  font-size: inherit;
  padding-block: .1em;
  margin-block: .5em;
  background-color: ;
  border: 1px solid #08c8f6;
}
.login-btn a{
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
}
#log-reg-btns{
  display: flex;
  justify-content: space-around;
}

/*submitted page */
#edit-delete-ch{
 display: flex;
 justify-content: space-between;
 width: 40%;
}
#owner-link{
  color: #fff;
}
.del-btn{
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-size: .8rem;
  color: red;
  text-decoration: underline;
  outline: inherit;
  padding: 0;
}
.del-btn:hover{
  cursor: pointer;
  /* border: 1px solid white; */
}
hr{
  background-color: white;
}
#sub-list{
  height: 90%;
}
#sub-desc{
  width: 40%;
  height: fit-content;
  padding-inline: 4%;
  border-right: 1px solid white;
  font-size: .9rem;
}
#sub-desc ul{
  list-style: circle;
}
#sub-desc ul li{
  padding-block: .4em;
}
#ul{
  width: 40%;
  height: 95%;
  overflow: auto;
  margin-inline: auto;
  padding: .5em;
}
#ul li{
  padding-block: .4em;
  font-size: .8rem;
}
#ul #visit-link{
  color: gold;
  font-size: .8rem;
}

#ul a{
  font-size: .8rem;
  
}
/* Responsive  */

@media (max-width: 720px) {
  body {
    margin: 0;
    padding: 0;
  }
  main {
    margin: 0;
    padding: 2em 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    padding: 1em 0;
    z-index: 99;
    border-bottom: 2px solid white;
    background-color: #08c8f6;
    /* box-shadow: 3px 5px 18px rgba(255, 255, 255, 0.2); */
    /* box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2); */
  }
  .navbar a{
    margin-inline: .6em;
  }
  .challenges {
    background-color: white;
    margin: 7.1em 0 0 0;
    padding: 0.5em 2em;
    height: 100vh!important;
  }
  .challenges #title{
    color: black;
  }
  .allinone {
    flex-direction: column;
    /* margin-inline: 1em; */
  }
  .card {
    width: 100%;
    border: 1px solid gray;
    margin-bottom: 0em;
    padding-inline: 0;
  }
  .card img{
    margin-left: .8em;
  }
  
  .home-section{
    padding-top: 8em;
    flex-wrap: wrap;
    height: 100%;
  }
  #profile-left{
    height: fit-content!important;
    overflow: none;
    width: 100%!important;
  }
  #profile-right{
    width: 90%!important;
  }
  #prof-proj-cont{
    overflow-y: none!important;
    height: fit-content!important;
    
  }
}

@media (max-width: 1100px) {
  body {
    /* min-height: fit-content; */ 
    /* zoom: 80%; */
  }
  main {
    hheight: 100%; 
    height: 30rem;
    width: 90%;
    /* background-color: green; */
    /* background-color: white; */
    hheight: fit-content;
    
  }
  .navbar{
    /* border: 1px solid red; */
    
  }
  .navbar a{
    font-size: .7rem;
  }
  .challenges{
    height: 70%;
    overflow: auto;
  }
  #title{
    margin-top: 0;
  }
  .card{
    height: 3em;
    padding: .5em 0;
    /* background-color: green; */
  }
  .card button{
    font-size: .7rem;
    
  }
  .card p{
    font-size: .8rem;
  }
  .card sub{
    font-size: .7em;
  }
  .card img{
    height: 2em;
    width: 2em;
  }
  #link-input{
    width: 30ch!important;
  }
}
@media (max-height: 31rem){
  body{
    /* background-color: red; */
  }
  main{
    max-height: 90%;
  }
}

#logout{
  /* margin: .1em; */
}



/* Bs clone */
.alert-warning{
  text-align: center;
  color: white; 
  /* font-size: .5rem; */
  /* height: 1.5em; */
  padding: .3em 1em;
  border-radius: .3em;
  background-color: #df4759;
  /* color: black; */
  /* opacity: .9; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.alert-suc{
  text-align: center;
  color: black; 
  /* font-size: .5rem; */
  /* height: 1.5em; */
  padding: .3em 1em;
  border-radius: .3em;
  background-color: white;
  /* background-color: #198754; */
  /* color: black; */
  opacity: .85;
  margin: auto;
}

#err-place{
  position: relative;
  height: 1.5rem;
  padding: 0;
  margin: 0;
  /* margin-bottom: .5em; */
}