#profContainer{
  color: white; 
  /* border: 1px solid white; */
  width: 75%;
  margin: 10px auto;
}

#userImgCont {
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
}

#profileBottom{
  margin-top: 25px;
  padding: 10px 30px;
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  background-color: white;
  color: #0482a0;
  opacity: .8;
  border-radius: 10px;
  height: 300px;
  gap: 10px;
}

a{
  color: #0482a0;
}

#profileAbout li{
  margin-bottom: 10px;
}

#submitedChallenges ul{
  border-left: 1px solid lightgray;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding-left: 20px;
}


#submitedChallenges li{
  padding: 3px 5px;
  margin-bottom: 5px;
  /* border-bottom: 1px solid gray; */
  /* border: 1px solid red; */
}

#bioName h1{
  margin-bottom: 5px;
}

#bioName sub{
  font-style: italic;
  color: #ebebeb;
  margin-left: 5px;
}

#eedit{
  color: pink;
}

@media only screen and (max-width: 800px){

  #profContainer{
    background-color: teal;
    margin: 0;
    width: 90%;
    margin: 40 auto;
    border: 2px solid white;
    border-radius: 8px;
    padding-top: 20px;
    opacity: .85;
  }
  #userImgCont{
    padding: 5px;
    /* border: 1px solid red; */
  }
  #bioName{
    /* border: 1px solid red; */
    
  }
  #bioName h1{
    font-size: 24px;
  }
  
  #profileBottom{
    border: 3px solid teal;
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    opacity: 1;
  }
  #profileAbout{
    
    /* border: 1px solid red; */
  }
  #submitedChallenges{
    /* margin-top: -15px; */
  }
  
  #submitedChallenges ul{
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    padding-left: 5px;
    /* font-size: 14px; */
  }
  
  #bioName sub{
    font-size: 11px;
  }
  #eedit{
    font-size: 10;
    font-style: italic;
    text-decoration: underline;
  }
}