#rev-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 450px;
  /* border: 1px solid red; */
}
#list{
  height: 400px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, .2);
  border-radius: 10px;
  width: 750px;
  margin: auto;
  background-color: white;
  opacity: .8;
  padding: 10px 0;
  position: relative;
}
#revtitle{
  color: #0482a0;
  text-align: center;
}
#reviewUl{
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#revLi{
  list-style: none;
  border-bottom: 1px solid black;
  padding: 20px 5px 10px 15px;
  display: grid;
  grid-template-columns: 1fr 30%;
  border-radius: 3px;
}
#reviewLink{
  font-weight: 600;
}

#linkOwner{
  border-left: 1px solid green;
  color: gray;
  padding: 0 5px;
  font-size: 14px;
}
a{
  color: #0482a0;
  /* text-decoration: none; */
}

.pagination {
  margin: 0 auto;
  padding: 0;
  ttext-align: center;
  position: absolute;
  bottom: 20;
  left: 50%;
  transform: translateX(-50%);
}

.pagination a {
  display: inline-block;
  margin: 0 0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #666;
  text-decoration: none;
}

.pagination a.active {
 /* background-color: #4CAF50; */
  background-color: #08c8f6;
  color: #fff;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination a.prev,
.pagination a.next {
  font-weight: bold;
}
.disabled{
  background-color: #ddd;
}
